@import './variable.scss';

@mixin bg_color($color) {
    background-color: $color !important;
    [data-theme="theme1"] & {
        background-color: $bg-color-theme1 !important;
    }
    [data-theme="theme2"] & {
        background-color: $bg-color-theme2 !important;
    }
}